/*color palate from coolors https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644*/
:root{
    --beige: #EDE0D4;
    --light-tan: #E6CCB2;
    --dark-tan: #DDB892;
    --light-brown: #B08968;
    --dark-brown: #7F5539;
    --brown: #9C6644;

}

