/*color palate from coolors https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644*/
:root{
    --beige: #EDE0D4;
    --light-tan: #E6CCB2;
    --dark-tan: #DDB892;
    --light-brown: #B08968;
    --dark-brown: #7F5539;
    --brown: #9C6644;

}

/*Maybe create a loading screen for when reloading to blog */

header{
   display: flex;
   justify-content: space-between;
   border-bottom: 5px solid var(--dark-brown);
   padding-left: 10px;
   
}


body{
    background-color: var(--beige);
}

main{
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    border-left: 5px solid var(--dark-brown);

}

img{
    object-fit: cover;
    width: 50%;
    height: 100%;
    border: 5px solid var(--light-brown);
    margin: 20px;

}



